<po-page-default
    p-title="Solicitações com Atividade OEMP Concluída"
    [p-actions]="actionsPage">
        <po-table
            [p-height]="420"
            class="po-sm-12 po-md-12 po-lg-12 po-xl-4"
            [p-items]="items" 
            [p-columns]="columns" 
            [p-striped]="true"
            [p-sort]="true"
            [p-auto-collapse]="true"
            [p-loading]="loading"
            p-container="shadow"
            [p-hide-text-overflow]="true"
            (p-show-more)="onShowMore()"
            [p-infinite-scroll]="true"
            [p-infinite-scroll-distance]="90">
        </po-table>

</po-page-default>


