.executionLabel{
    color:rgb(158, 40, 32);
 }
 
 .executionCounter{
     color:rgb(158, 40, 32);
     font-weight: bold;
  }
 
 .newLabel{
     color: rgb(124, 124, 27)
 }
 
 .newCounter{
     color: rgb(124, 124, 27);
     font-weight: bold;
     
 }
 
 .totalLabel{
     color: rgb(57, 41, 146);
     justify-content:space-around
 }
 
 .totalCounter{
     color: rgb(57, 41, 146);
     font-weight: bold;
 }
 
 .completedLabel{
     color:rgb(32, 158, 32);
  }
 
  .completedCounter{
     color:rgb(32, 158, 32);
     font-weight: bold;
  }
 
  .excelButton{
      margin-bottom: 10px;
    
  }

  .dynamic{
     height: 60px;
     
  }

  .po-wrapper{
      margin: 0 auto;
  }
 

@media only screen and (min-width: 744px) and (max-width: 844px) {
    .totalLabel{
        font-size: 20px;
        font-weight: bold;
    }
    .newLabel{
        font-size: 20px;
        font-weight: bold;
    }
    .executionLabel{
        font-size: 20px;
        font-weight: bold;
    }
    .completedLabel{
        font-size: 20px;
        font-weight: bold;
    }
    .totalUpdate{
        font-size: 9px;
        
    }
    .newUpdate{
        font-size: 9px;
    }
    .executionUpdate{
        font-size: 9px;
    }
    .completedUpdate{
        font-size: 9px;
    }

    .totalCounter{
        font-size: 16px;
        font-weight: bold;
    }
    .newCounter{
        font-size: 16px;
        font-weight: bold;
    }
    .executionCounter{
        font-size: 16px;
        font-weight: bold;
    }
    .completedCounter{
        font-size: 16px;
        font-weight: bold;
    }
    
}


@media only screen and (min-width: 480px) and (max-width: 743px) {
    .totalLabel{
        font-size: 16px;
        font-weight: bold;
    }
    .newLabel{
        font-size: 16px;
        font-weight: bold;
    }
    .executionLabel{
        font-size: 16px;
        font-weight: bold;
    }
    .completedLabel{
        font-size: 16px;
        font-weight: bold;
    }

    .totalUpdate{
        font-size: 8px;
    }
    .newUpdate{
        font-size: 8px;
    }
    .executionUpdate{
        font-size: 8px;
    }
    .completedUpdate{
        font-size: 8px;
    }

    .totalCounter{
        font-size: 12px;
        font-weight: bold;
    }
    .newCounter{
        font-size: 12px;
        font-weight: bold;
    }
    .executionCounter{
        font-size: 12px;
        font-weight: bold;
    }
    .completedCounter{
        font-size: 12px;
        font-weight: bold;
    }
    
}

 