.datePickerTitle {
    padding-left: 0px;
    font-family: Roboto-Bold, sans-serif;
}

.selectStatusTitle {
    color: #4a5c60;
    font-family: Roboto-Bold, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.spanModalTitle {
    color: rgb(153, 33, 232);
    font-family: Roboto-Bold, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.divModalTitle {
    margin-bottom: 20px;
}

.selectDate {
    margin-top: 20px;
    display: block;
}

.selectStatus {
    margin-top: 20px;
}

.fieldError{
    position:absolute;
    margin-top: 75px;
    font-family: Roboto,sans-serif;
    color: #c64840;
    font-size: 13px;
    line-height: 24px;
  

}