<po-page-default
    p-title="Solicitações em Execução"
    [p-actions]="actionsPage">

        <po-table
            [p-height]="470"
            class="po-sm-12 po-md-12 po-lg-12 po-xl-4"
            [p-items]="items" 
            [p-columns]="columns" 
            [p-actions]="actions"
            [p-striped]="true"
            [p-sort]="true"
            [p-auto-collapse]="true"
            [p-loading]="loading"
            p-container="shadow"
            [p-hide-text-overflow]="true"
            (p-show-more)="onShowMore()"
            [p-infinite-scroll]="true"
            [p-infinite-scroll-distance]="90">
        </po-table>

</po-page-default>

<po-modal
              
                    p-title="Editar Solicitação"
                    [p-primary-action]="confirm"
                    [p-secondary-action]="close"
                    p-size="auto">
                    <div class="po-row">
                            <po-input 
                                    name="circuito"
                                    p-label="Circuito" 
                                    p-clean="true"
                                    p-readonly="true"
                                    [(ngModel)]="editItems.circuito"
                                    class="po-sm-12 po-md-6 po-lg-3 po-xlg-3">
                            </po-input>
    
                            <po-select #status
                                    name="status"
                                    p-label="Status"
                                    [p-options]="statusOptions"
                                    [(ngModel)]="editItems.status"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-select>
    
                            <po-input
                                    name="obs" 
                                    p-label="Observações"
                                    p-clean="true"
                                    [p-minlength]="1"
                                    [(ngModel)]="editItems.observacao_Status"
                                    class="po-sm-12 po-md-6 po-lg-5 po-xlg-5">
                            </po-input>
                    </div>
    
                    <div class="po-row">
    
                            <po-datepicker #date
                                    name="contractDate" 
                                    p-label="Data Contratação"
                                    [(ngModel)]="editItems.data_Contratacao"
                                    (p-change)="delivPredCalc()"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-datepicker>
    
                            <po-select
                                    name="oempDeadLine"
                                    p-label="Prazo Operadora"
                                    [p-options]="oempDeadLineOptions"
                                    (p-change)="delivPredCalc()"
                                    [(ngModel)]="editItems.prazo_Operadora"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-select>
            
                            <po-datepicker
                                    name="deliveryPrediction"
                                    p-label="Previsão de Entrega"
                                    [(ngModel)]="editItems.previsao_Entrega"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-datepicker>
            
            
                    </div>
    
                    <div class="po-row">
            
                            <po-datepicker 
                                    name="installationDate"
                                    p-label="Data de Instalação"
                                    [(ngModel)]="editItems.data_Instalacao"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-datepicker>
            
                            <po-input 
                                    name="txInst"
                                    p-label="Taxa de Instalação" 
                                    p-clean="true"
                                    p-icon="po-icon po-icon-finance"
                                    (p-change-model)="installationFeeMask()"
                                    [(ngModel)]="editItems.taxa_Instalacao"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-input>
    
                            <po-input 
                                    name="mensalidade"
                                    p-label="Taxa Mensal" 
                                    p-clean="true"
                                    p-icon="po-icon po-icon-finance"
                                    (p-change-model)="monthlyPaymentMask()"
                                    [(ngModel)]="editItems.taxa_Mensal"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-input>
    
                    </div>
    
                    <div class="po-row">
            
                            <po-select 
                                    name="contractTime"
                                    p-label="Tempo de Contrato"
                                    [p-options]="contractTimeOptions"
                                    [(ngModel)]="editItems.tempo_Contrato" 
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-select>
    
                            <po-input 
                                    name="feasibilityCode"
                                    p-label="Código Viabilidade" 
                                    p-clean="true"
                                    [(ngModel)]="editItems.codigo_Viabilidade"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-input>
    
                            <po-combo
                                    name="oempCompany"
                                    p-label="Operadora"
                                    [p-clean]="true"
                                    [p-options]="oempCompanyOptions"
                                    (p-change)="onChangeOempCompany($event)"
                                    [(ngModel)]="editItems.operadora_Oemp"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
    
                            </po-combo>
    
                    </div>
    
                    <div class="po-row">
                            <po-input 
                                    name="oempDesignation"
                                    p-label="Designação Operadora" 
                                    p-clean="true"
                                    [(ngModel)]="editItems.designacao_Oemp"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-input>
                            <po-combo 
                                    name="gestao"
                                    p-label="Gestão"
                                    [p-clean]="true"
                                    [p-options]="managementOptions"
                                    (p-change)="onChangeManagement($event)"
                                    [(ngModel)]="editItems.gestao"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-combo>

                            <po-combo 
                                    name="responsavel"
                                    p-label="Responsável"
                                    [p-clean]="true"
                                    [p-options]="accountableOptions"
                                    [(ngModel)]="editItems.responsavel"
                                    class="po-sm-12 po-md-6 po-lg-4 po-xlg-4">
                            </po-combo>
    
    
                    </div>
            
            </po-modal>

