<po-page-default
    p-title="Solicitações com Atividade OEMP Concluída"
    [p-actions]="actionsPage">
    
    <!-- <div class="po-row">
        <form [formGroup]="formDateToExport"
            >
            <div class="container flex">
                <po-datepicker-range 
                    name="dateRangeToExport" 
                    p-label="Exportar Encerradas por Período:"
                    formControlName="datepickerRange"
                    [p-required]="true"
                    [p-clean]="true"
                    (p-change)="onChangeDate($event)"
                    class = "po-sm-12 po-md-7 po-lg-7 po-xl-7 po-mb-3"> 
                </po-datepicker-range>
            
                <po-button
                    p-icon= "fas fa-file-excel"
                    p-label="Exportar"
                    [p-disabled]="validateForm"
                    (p-click)="exportClosedToXlsx()"
                    class="po-sm-6 po-md-4 po-lg-4 po-xl-4 po-mt-4">
                </po-button>
            </div>
        </form>
    </div> -->
    
        <po-table
            [p-height]="420"
            class="po-sm-12 po-md-12 po-lg-12 po-xl-4"
            [p-items]="items" 
            [p-columns]="columns" 
            [p-striped]="true"
            [p-sort]="true"
            [p-auto-collapse]="true"
            [p-loading]="loading"
            p-container="shadow"
            [p-hide-text-overflow]="true"
            (p-show-more)="onShowMore()"
            [p-infinite-scroll]="true"
            [p-infinite-scroll-distance]="90">
        </po-table>

</po-page-default>


